@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.projectile-notes {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    @include heading-two;
  }
  &__body {
    @include body-text;
  }
}
