@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.quiz {
  display: flex;
  flex-direction: column;
  background-color: $Lilac;
  &__container {
    @include background-card-style($Stone);
    & {
      padding: 1rem;
    }
    @include desktop {
      width: 51rem;
      min-height: 100vh;
      align-self: center;
      padding: 2rem;
      flex-direction: row;
      align-items: flex-start;
      gap: 4rem;
    }
  }
  &__question-container {
    padding: 0 1rem;
    @include desktop {
    }
  }

  &__main-question-container {
    display: flex;
    flex: 1;
  }
  &__question {
    @include body-text;
    margin-top: 1rem;
  }
  &__question-number {
    font-weight: 700;
    margin-right: 0.625rem;
  }
  &__input {
    width: 90%;
    height: 2.5rem;
    font-style: italic;
    font-size: 14px;
    background-color: $Lilac-20;
    border-radius: 10px;
    border: 2px solid $Plum;
    padding-left: 5px;
    &:focus {
      outline: 2px solid $Lilac;
    }
  }
  &__question-part-container {
    display: flex;
  }
  &__submit-button {
    width: 8rem;
    height: 2.875rem;
    margin: 1rem 0;
    border-radius: 20px;
    background-color: $Plum;
    font-size: 1rem;
    text-transform: uppercase;
    color: $Stone;
    border: none;
    box-shadow: -4px 4px $Black;
    transition: all 0.2s ease; 
    @include desktop{
      align-self:center;
    }
    &:active {
      box-shadow: 0 0 0 $Black; 
      transform: translate(-4px, 4px);
    }
  }

  &__next-button {
    @extend .quiz__submit-button;
    background-color: $Lilac;
    color: $Plum;
    height: 2rem;
    width: 6rem;
    text-transform: lowercase;
  }
  &__submission-container {
    @include flex-center-column;
    @include desktop {
      align-items: flex-start;
    }
  }
  &__feedback {
    @include body-text;
    margin-top: 2rem;
    margin-bottom: 0;
    color: $Plum;
    @include desktop{
      align-self:center;
    }
  }
}
