@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.quiz {
  display: flex;
  flex-direction: column;
  background-color: $Lilac;
  &__container {
    @include background-card-style($Stone);
    & {
      padding: 1rem;
    }
    @include desktop {
      width: 51rem;
      min-height: 100vh;
      align-self: center;
      padding: 2rem;
      flex-direction: row;
      align-items: flex-start;
      gap: 4rem;
    }
  }
  &__question-container {
    padding: 0 1rem;
    @include desktop {
    }
  }

  &__main-question-container {
    display: flex;
    flex: 1;
  }
  &__question {
    @include body-text;
    margin-top: 1rem;
  }
  &__question-number {
    font-weight: 700;
    margin-right: 0.625rem;
  }
  &__input {
    width: 90%;
    height: 2.5rem;
    font-style: italic;
    font-size: 14px;
    background-color: $Lilac-20;
    border-radius: 10px;
    border: 2px solid $Plum;
    padding-left: 5px;
    &:focus {
      outline: 2px solid $Lilac;
    }
  }
  &__question-part-container {
    display: flex;
  }
  &__submit-button {
    width: 8rem;
    height: 2.875rem;
    margin: 1rem 0;
    border-radius: 20px;
    background-color: $Plum;
    font-size: 1rem;
    text-transform: uppercase;
    color: $Stone;
    border: none;
    box-shadow: -4px 4px $Black;
    transition: all 0.2s ease;
    @include desktop {
      align-self: center;
    }
    &:active {
      box-shadow: 0 0 0 $Black;
      transform: translate(-4px, 4px);
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__next-button {
    @extend .quiz__submit-button;
    background-color: $Lilac;
    color: $Plum;
    height: 2rem;
    width: 6rem;
    text-transform: lowercase;
    &:hover {
      cursor: pointer;
    }
  }
  &__submission-container {
    @include flex-center-column;
    @include desktop {
      align-items: flex-start;
    }
  }
  &__feedback {
    @include body-text;
    margin-top: 2rem;
    margin-bottom: 0;
    color: $Plum;
    @include desktop {
      align-self: center;
    }
  }
  &__nav-desktop {
    display: none;
    @include desktop {
      display: block;
    }
  }
  &__nav-mobile {
    width: 100%;
    @include desktop {
      display: none;
    }
  }
}


.loader {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  align-self:center;
}
.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid black;
  background: radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px
    no-repeat #fff;
  animation: eyes 3s infinite;
}
@keyframes eyes {
  0%,
  11% {
    background-position: 35% 35%;
  }
  14%,
  36% {
    background-position: 65% 35%;
  }
  38%,
  61% {
    background-position: 65% 65%;
  }
  64%,
  86% {
    background-position: 35% 65%;
  }
  88%,
  100% {
    background-position: 35% 35%;
  }
}
