@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.topic-page {
  display: flex;
  flex-direction: column;
  &__container {
    @include background-card-style($Stone2);
    & {
      justify-content: flex-start;
    }
    &--kinematics {
      @include background-card-style($Lilac);
    }
    &--forces {
      @include background-card-style($Coral);
    }
    &--circuits {
      @include background-card-style($Sage);
    }
    &--compositeFunctions {
      @include background-card-style($Lilac);
    }
    &--commonGraphs {
      @include background-card-style($Coral);
    }
    &--trigonometry {
      @include background-card-style($Sage);
    }
    @include desktop {
      width: 51rem;
      border-radius: 20px;
      align-self: center;
      height: 100vh;
    }
  }

  &__title {
    @include heading-one;
    font-weight: 600;
  }

  &__notes-container,
  &__pq-container {
    @include card-style($Stone2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
    height: 14rem;
    &:hover {
      cursor: pointer;
    }
    &--kinematics,
    &--compositeFunctions {
      background-color: $Lilac;
    }
    &--forces,
    &--commonGraphs {
      background-color: $Coral;
    }
    &--circuits,
    &--trigonometry {
      background-color: $Sage;
    }

    @include desktop {
      height: 200px;
      width: 300px;
    }
  }
  &__cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    min-width: 320px;
    @include desktop {
      justify-content: space-around;
      gap: 2rem;
    }
  }

  &__notes-title,
  &__pq-title {
    @include heading-three;
    font-weight: 600;
    padding-top: 0.5rem;
  }
  &__image {
    width: 9.375rem;
    @include desktop {
      height: 9rem;
      width: 10rem;
    }
  }
}
