@use "./variables" as *;

@mixin card-style($color) {
  background-color: $color;
  border: 2px solid $Black;
  border-radius: 15px;
  box-shadow: -4px 4px $Black;
  transition: all 0.2s ease;
  &:active {
    box-shadow: 0 0 0 $Black;
    transform: translate(-4px, 4px);
  }
}

@mixin background-card-style($color) {
  background-color: $color;
  border: 1px solid $Black;
  border-radius: 20px 20px 0 0;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: -1.875rem;
  @include desktop {
    margin-top: -0.8rem;
    min-height: 30vh;
  }
}

@mixin quiz-myself-button($bg-color) {
  padding: 1rem 2rem;
  border-radius: 15px;
  border: 1px solid $Black;
  background-color: $bg-color;
  color: $Black;
  font-weight: 600;
  font-size: 16px;
  box-shadow: -4px 4px $Black;
  transition: all 0.2s ease; // Smooth transition effect
  &:active {
    box-shadow: 0 0 0 $Black; // Removes the shadow
    transform: translate(-4px, 4px);
  }
  &:hover {
    cursor: pointer;
  }
}
@mixin heading-one {
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 2rem;
}
@mixin heading-two {
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  margin: 0.5rem 0;
}
@mixin heading-three {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin body-text {
  font-size: 16px;
  line-height: 20px;
}

@mixin notes-nav-buttons(
  $bg-color,
  $color,
  $hover-bg,
  $hover-outline,
  $hover-text
) {
  background-color: $bg-color;
  color: $color;
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  &:hover {
    cursor: pointer;
    background-color: $hover-bg;
    color: $hover-text;
    outline: 1px solid $hover-outline;
  }
}

@mixin notes-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
