$mobile-breakpoint: 375px;
$tablet-breakpoint:768px;
$desktop-breakpoint:1024px;

$Stone: #fbf8f6;
$Black: #09050e;
$Sage: #72a98f;
$Forest: #3e6259;
$Lilac: #d6d2fe;
$Lilac-20: rgba($Lilac, 0.2);
$Plum: #88527f;
$ElectricBlue: #4d5eff;
$Sky: #acd7ec;
$Clementine: #f4a259;
$Sunset: #d36a0d;
$Bubblegum: #eeaacd;
$Barbie: #e477af;
$Red: #e15554;
$DarkRed: #98292b;
$Coral: #e77373;
$Stone2: #f3ebe5;

