@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.topic-menu {
  @include desktop {
    display: flex;
    flex-direction: column;
  }
  &--blue {
    background-color: $Sky;
  }
  &--orange {
    background-color: $Clementine;
  }
  &__title {
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
  }
  &__container {
    @include background-card-style($Stone2);
    & {
      z-index: 1;
      margin-top: -1.875rem;
    }
    @include desktop {
      height: 90vh;
      padding: 0 8rem;
      align-items: center;
      width: 45rem;
      align-self: center;
    }
  }
}
.topic-container:nth-child(1) {
  @include card-style($Lilac);
}
.topic-container:nth-child(2) {
  @include card-style($Coral);
}
.topic-container:nth-child(3) {
  @include card-style($Sage);
}

.topic-container {
  display: flex;
  justify-content: center;
  margin: 0 1rem 1rem 1rem;
  @include desktop {
    width: 31.25rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.topic-list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  @include desktop {
    @include flex-center-column;
  }
}

.topic {
  padding: 1rem;
  font-weight: 500;
  font-size: 20px;
}
