@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.uncertainties-page {
  @include background-card-style($Stone);
  padding: $mobile-padding;
  @include tablet {
    padding: $tablet-padding;
  }
  @include desktop {
    padding: $desktop-padding;
  }
  &__title {
    @include heading-one;
  }

  &__nav {
    @include notes-nav;
  }
  &__button {
    @include notes-nav-buttons($Forest, $Stone, $Sage, $Forest, black);
    font-size: 12px;
  }
}
