@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

.kinematics-notes {
  @include desktop {
    background-color: $Lilac;
    display: flex;
    flex-direction: column;
  }
  &__container {
    @include background-card-style($Stone);
    & {
      padding: 1rem;
    }

    @include desktop {
      width: 51rem;
      align-self: center;
    }
  }

  &__title {
    @include heading-one;
    margin: 1rem 0;
  }
  &__nav {
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-around;
    @include desktop {
      justify-content: center;
      gap: 1rem;
    }
  }
  &__button {
    background-color: $Plum;
    color: $Stone;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    &:hover {
      cursor: pointer;
      background-color: $Lilac;
      color: black;
      outline: 1px solid $Plum;
    }
  }
  &__container-one,
  &__container-two {
    padding: 2rem 0;
    @include desktop {
      width: 75%;
    }
  }
}
