@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.all-q {
  &__tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  &__tag {
    padding: 0 5px;
    border-radius: 10px;

    &--red {
      background-color: $Coral;
      color: $DarkRed;
    }
    &--orange {
      background-color: $Clementine;
      color: $Black;
    }
    &--selected-purple {
      background-color: $Plum;
      color: $Lilac;
    }
    &--selected-red {
      background-color: $DarkRed;
      color: $Stone;
    }
    &--selected-orange {
      background-color: $Sunset;
      color: $Stone;
    }
  }
  &__list {
    list-style: decimal;
    padding: 0;
    margin: 2rem;
  }
  &__list-item {
    border-bottom: 1px solid $Black;
  }
}
