@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.practice-questions {
  display: flex;
  flex-direction: column;
  &--purple {
    background-color: $Lilac;
  }
  &__container {
    @include background-card-style($Stone);
    & {
      padding: 1rem 1.5rem;
    }

    @include desktop {
      flex-direction: row;
      justify-content: center;
      gap: 4rem;
      align-items: flex-start;
      width: 51rem;
      min-height: 100vh;
      align-self: center;
    }
  }

  &__questions-container {
    flex: 1;
  }

  &__nav-desktop {
    display: none;
    @include desktop {
      display: block;
    }
  }
  &__nav-mobile {
    width:100%;
    @include desktop {
      display: none;
      
    }
  }
}
