@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

body {
  background-color: $Stone;
}

.homepage {
  @include desktop {
    display: flex;
    padding: 0 8rem 3rem 8rem;
    justify-content: space-between;
  }
}
.main-container {
  @include background-card-style($Stone2);
  justify-content: space-evenly;
  @include desktop {
    flex-direction: row;
    margin-top: 0;
    height: auto;
    border-radius: 20px;
  }
}

.homepage__nav-container {
  display: none; // Hide the nav container by default

  @include desktop {
    display: flex;
  }
}

.physics {
  height: 170px;
  width: 80%;
  @include card-style($Sky);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url("../../assets/physics-home.png");
  background-position-x: -20px;
  background-size: 180px;
  background-repeat: no-repeat;
  @include desktop {
    height: 25rem;
    width: 25rem;
    background-size: 400px;
  }
}

.math {
  height: 170px;
  width: 80%;
  padding: 1rem;
  @include card-style($Clementine);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../../assets/math-home.png");
  background-position-x: -20px;
  background-size: 200px;
  background-repeat: no-repeat;
  @include desktop {
    height: 25rem;
    width: 25rem;
    background-size: 400px;
  }
}

.card {
  &__physics-icon,
  &__math-icon {
    background-color: $Stone;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
  }
  &__physics-icon {
    background-image: url("../../assets/physics-icon.svg");
    border: 2px solid $ElectricBlue
  }
  &__math-icon {
    background-image: url("../../assets/math-icon.svg");
    border: 2px solid $Sunset;
  }
  &__title {
    font-size: 1.75rem;
    margin-top: 1rem;
    font-weight: 700;
  }
}
